rmc-debug.log
.sass-cache
.jekyll-metadata
*.iml
.idea/*
_site
Gemfile.lock
*.pyc
.vscode/
v2.2.2
node_modules
bower_components
make-tar.sh
*.tar.gz
lib-cov
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-js
dist-ts
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
